body {
  font-family: sans-serif;
  background-color: white;
  margin: 0;
  padding: 2rem;
  text-align: center;
  color: #4a0072;
}

h1 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #7b1fa2;
  text-align: left;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #000;
}

#semestres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.semestre {
  flex: 1 1 200px;
  border: 2px solid #b388ff;
  border-radius: 10px;
  padding: 1rem;
  background-color: #f9e1ff;
}

.semestre.primero {
  background-color: #ffe6f0;
}

.semestre.segundo {
  background-color: #f3e5f5;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.materia {
  background-color: white;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-left: 4px solid #7b1fa2;
  border-radius: 5px;
  cursor: pointer;
}

.materia.tachada {
  text-decoration: line-through;
  color: gray;
  background-color: #e0e0e0;
}
